@import "./src/styles/variables";

.loader {
  margin: $v-margin 0;

  &__spinner {
    border: $spinner-size solid $c-gray;
    border-radius: 50%;
    border-top: $spinner-size solid $c-blue;
    width: $spinner-width;
    height: $spinner-height;
    animation: spin 2s linear infinite;
    margin: 0 auto;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
