@import "src/styles/variables";

.btn {
  border: 0;
  margin: $v-margin-40 0;
  background: $c-blue;
  border-radius: 10px;
  box-shadow: $btn-shadow;
  padding: $btn-padding;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-out;

  &:hover {
    opacity: 0.9;
  }
}
