$c-blue: #3498db;
$c-gray: #f3f3f3;

// Spacing

$v-margin: 20px;
$v-margin-40: 40px;

// Spinner style

$spinner-width: 53px;
$spinner-height: 53px;
$spinner-size: 10px;

//Button style

$btn-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$btn-padding: 10px 30px;
